* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: blue;
}

:root {
  --background: #181820;
  --background-light: #21212b;

  --primary: #ffffff;
  --secondary: #f95738;
  --terciary: #bbbbbb;
}

body,
input,
button {
  color: var(--primary);
  font-family: "DynaPuff", cursive;
}

body {
  background: var(--background);
}

button:hover {
  cursor: pointer;
}
